<p>
  <strong>Question:</strong>
  <%= @question.body %>
</p>
<h3><%= question_header(@new_question) %></h3>
<p>
  <%= link_to 'Удалить вопрос', @question,
              method: :delete,
              data: { confirm: 'Вы уверены?' } %>
</p>
<%= link_to 'Back', test_path(@question.test) %>
