<% if resource.errors.present? %>
  <div>
    <h3><%= t('.header', count: resource.errors.count) %>:</h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
