<li>
   <%= answer.body %><br>
   <%= link_to 'Просмотр', answer_path(answer) %> |
   <%= link_to 'Редактирование', edit_answer_path(answer) %> |
   <%= link_to 'Удалить',
               answer_path(answer),
               method: :delete,
               data: { confirm: 'Вы уверены?' } %>
</li>
