@import "bootstrap";
@import "typography/icons";
@import "global";
.footer {
  text-align: center;
}
.tests-table {
  text-align: center;
}
.tests-table h1{
  margin: 30px;
  text-align: center;
}
.tests-table p {
  text-align: left;
}
.flash{
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.reg-form {
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .links {
    text-align: center;
    margin: auto;
    padding: 1rem;
  }
  &-btn {
    text-align: center;
  }
}
.progress-bar {
  width: 100%;
}
