<h1>Доступные тесты</h1>

<%= link_to 'Новый тест', new_test_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th>Action</th>
    <th colspan="4"></th>
  </tr>

  <%= render @tests %>

</table>
